version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "phpunit/phpunit"
        update-types: ["version-update:semver-major"]
      - dependency-name: "phpstan/phpstan"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "php"
        update-types: ["version-update:semver-minor"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 5

  # dev container
  - package-ecosystem: "docker"
    directory: "/.devcontainer/workspace/"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "php"
        update-types: ["version-update:semver-minor"]

  - package-ecosystem: "docker-compose"
    directories:
      - "/.devcontainer/"
    schedule:
      interval: "monthly"
