parameters:
	level: 8
	paths:
		- backend/
		- frontend/data.php
	excludePaths:
		- backend/vendor/
includes:
	- backend/vendor/phpstan/phpstan-phpunit/extension.neon
	- backend/vendor/phpstan/phpstan-phpunit/rules.neon
