.row-wrap {
	margin: 0 auto 0px;
	width: 900px;
}

.row {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(80px, 1fr) );
	grid-gap: 10px;
}

.cell {
	background-color: white;
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid #8f8f9d;
}

.cell > .big, .cell > .small {
	font-weight: bold;
	margin: 0px;
}

.cell > .big {
	font-size: 19px;
}

.cell > .small {
	font-size: 15px;
}

.ellipsis-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 280px;
}
