*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;

	background-color: #F3F4F6;
	font-family: sans-serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}

h2 {
	margin: 0px;
}

h3 {
	margin: 0px;
}

.clear {
	clear: both;
}

#main {
	margin: 0px auto;
	width: 1000px;
	padding: 6px;
}

.header {
	padding: 6px 10px 6px;
	position: relative;
}

.header > #dates {
	position: absolute;
	top: 6px;
	right: 10px;
	margin: 2px;
}

.box, #data-note, #loading {
	background-color: white;
	padding: 10px;

	border-bottom: 1px solid #8f8f9d;
}

#loading {
	background-color: unset;
	border-bottom: unset;
}

#error, #updating {
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 4px;
}

#error {
	background-color: red;
}

#updating {
	background-color: rgb(0, 132, 255);
}

.box.margin {
	margin-bottom: 10px;
}

input {
	margin-bottom: 6px;
}

.margin-zero {
	margin: 0px !important;
}

.filter {
	width: 250px;
}

.hide {
	display: none !important;
}

.row-wrap > .row {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(80px, 1fr) );
	grid-gap: 6px;
}
 
.row-wrap > .row > .cell {
	background-color: white;
	padding: 10px;
	width: 100%;
	margin-bottom: 6px;
	border-bottom: 1px solid #8f8f9d;
}

.row-wrap > .row > .cell > .big, .row-wrap > .row > .cell > .small {
	font-weight: bold;
	margin: 0px;
}

.row-wrap > .row > .cell > .big {
	font-size: 19px;
}

.row-wrap > .row > .cell > .small {
	font-size: 15px;
}

.ellipsis-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 280px;
}

table {
	width: 100%;
	background-color: white;
	border-spacing: 0;
	border-collapse: collapse;
}

table.modal {
	width: 838px;
}

table th {
	text-align: left;
}

table th, table th:hover {
	background: #000000;
	color: #f1f1f1;
}

table tr:hover{
	background: #f1f1f1;
}

table th, table td {
	padding: 4px;
	border-bottom: 1px solid #8f8f9d;
	padding-right: 10px;
}

table th.number, table td.number {
	width: 40px !important;
	text-align: center;
}

table tr {
	height: 32px;
}

table td.ip {
	width: 120px !important;
}

table td.ban {
	width: 50px !important;
}

table td.country {
	min-width: 190px !important;
}

table th.date, table td.date {
	width: 140px !important;
}

table td {
	position: relative;
}

table td.asn {
	width: 300px;
}

table td.long {
	width: 500px;
}

table td.jail {
	width: 110px;
}

table td.view-btn {
	width: 161px;
}

table td.view-bans-btn {
	width: 90px;
}

table td.view-bans-btn > button {
	height: 23px;
}

table td.view-btn > span > button {
	height: 23px;
}

table td.view-btn > span > button:first-child {
	margin-right: 6px;
}

table td:hover > span > .row-filter {
	display: unset;
}

td.asn > span, td.long > span {
	display: inherit;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

td.asn > span {
	max-width: 285px;
}

td.long > span {
	max-width: 485px;
}

td > span > .row-filter {
	position: absolute;
	top: 4px;
	right: 10px;
	height: 23px;
	display: none;
}

table td.button {
	width: 100px;
}

table td.no-data {
	text-align: center;
}

.input-text, .input-text-small {
	display: inline-block;
}

.input-text {
	width: 60px;
}

.input-text-small {
	width: 40px;
}

#modal {
	position: fixed;
	background-color: rgba(0, 0, 0, .65);
	width: 100%;
	height: 100%;
	z-index: 999999;
	top: 0;
	left: 0;
}

#modal > .inner {
	position: fixed; 
	top: 40px; 
	left: 50%;
	transform: translateX(-50%);
	width: 850px;
	background-color: #fff;
}

#modal-header {
	margin: 0 auto 0;
	background-color: #000;
	color: #fff;
	border-bottom: 1px solid #8f8f9d;
	font-weight: bold;
}

#modal-title {
	float: left;
	padding: 6px;
}

#modal-close {
	float: right;
	margin: 5px;
}

#modal-body {
	padding: 6px;
	max-height: calc(100vh - 100px);
}

.info {
	display: flex;
}

.info > .box {
	width: 100%;
	padding: 4px;
	margin: 0 auto 4px;
}

.info > .box > .big {
	font-weight: bold;
	font-size: 15px;
}

.page-button {
	width: 50px;
	padding: 1px 10px;
}

#data-table > table {
	margin-bottom: 0px;
}

#data-table-pagination {
	display: flex;
	justify-content: space-between;
}

#pagination {
	padding-left: 5px;
}

.page-options-left > div {
	display: inline-block;
}

.input {
	margin-bottom: 5px;
}

.input.order-by {
	margin-top: 10px;
}

.input > select {
	display: inline-block;
}

.filter-panel {
	padding: 10px;
	width: 350px;
	background-color: white;
	border: 1px solid #8f8f9d;
}

.filter-panel > #header {
	font-weight: bold;
	margin-bottom: 6px;
}

.filter-panel > .selects > div {
	display: inline-block;
}

.filter-action {
	width: 70px;
}

.filter-value {
	width: 159px;
}

.filter-panel > .buttons {
	margin-top: 6px;
	text-align: end;
}

.filter-panel > .option-btns > button {
	display: block;
	margin-top: 6px;
}

.filters {
	display: flow-root;
	position: relative;
	margin-top: 10px;
	margin-bottom: 0px;
}

.filters > .text, .filters > .labels {
	display: inline-block;
}

.filters > .buttons {
	display: inline-flex;
}

.filters > .buttons > button {
	margin-right: 4px;
}

.applied-filters {
	margin-left: 64px;
	margin-top: 10px;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	row-gap: 5px;
	width: 890px;
}

.applied-filters > .item {
	padding: 4px;
	margin-right: 5px;
	background-color: #f1f1f1;
	border: 1px solid #8f8f9d;
}

.applied-filters > .item > .action {
	font-weight: bold;
}

.applied-filters > .item > button {
	padding: 3px;
	width: 30px;
	margin-left: 4px;
}

.filter-options-close {
	position: absolute;
	right: 10px;
}

#log {
	margin-top: 6px;
}

#log-entries {
	margin: 0;
}

.chart-canvas-wrap {
	position: relative;
	margin-bottom: 6px;
	height: 250px;
}

#chart-message {
	position: absolute;
	background-color: white;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	padding: 10px;
	text-align: center;
}

button {
	padding: 0 6px;
	line-height: 13px;
}

button, select {
	background-color: #e9e9ed;
	border: 1px solid #8f8f9d;
	height: 25px;
}

button:hover:enabled {
	background-color: #d0d0d7;
	cursor: pointer;
}

.page-button-small {
	height: 23px;
	width: 50px;
}

.selects {
	display: flex;
	flex-direction: row;
}

.selects > select:first-child {
	margin-right: 4px;
	width: 120px;
}

.selects > select:last-child {
	margin-left: 4px;
	width: 100%;
}
