table {
	width: 100%;
	background-color: white;
	border-spacing: 0;
	border-collapse: collapse;
}

table th {
	text-align: left;
}

table th, table th:hover {
	background: #000000;
	color: #f1f1f1;
}

table tr:hover{
	background: #f1f1f1;
}

table th, table td {
	padding: 4px;
	border-bottom: 1px solid #8f8f9d;
	padding-right: 10px;
}

table th.number, table td.number {
	width: 40px !important;
	text-align: center;
}

table tr {
	height: 32px;
}

table td.ip {
	width: 120px !important;
}

table td.bans, table td.ipCount {
	width: 55px;
}

table td.country {
	width: 160px;
}

table th.date, table td.date {
	width: 140px !important;
}

table td {
	position: relative;
}

table td.asn {
	width: 300px;
}

table td.long {
	width: 500px;
}

table td.jail {
	width: 110px;
}

table td.view-btn {
	width: 161px;
}

table td.view-bans-btn {
	width: 90px;
}

table td.view-bans-btn > button {
	height: 23px;
}

table td.view-btn > span > button {
	height: 23px;
}

table td.view-btn > span > button:first-child {
	margin-right: 6px;
}

table td:hover > span > .row-filter {
	display: unset;
}

td.asn > span, td.long > span {
	display: inherit;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

td.asn > span {
	max-width: 285px;
}

td.long > span {
	max-width: 485px;
}

td > span > .row-filter {
	position: absolute;
	top: 4px;
	right: 10px;
	height: 23px;
	display: none;
}

table td.button {
	width: 100px;
}

table td.no-data {
	text-align: center;
}
