name: Code quality (js)

on:
  pull_request:
    paths:
      - "**.js"
  push:
    branches: main
    paths:
      - "**.js"

permissions:
  contents: read

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22.14
          cache: 'npm'

      - name: Installing dependencies
        run: npm ci --ignore-scripts

      - name: Run ESLint
        run: npm run lint
