name: Code quality (php)

on:
  pull_request:
    paths:
      - "**.php"
  push:
    branches: main
    paths:
      - "**.php"

permissions:
  contents: read

jobs:
  phpstan:
    name: PHPStan

    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup PHP
        uses: shivammathur/setup-php@ccf2c627fe61b1b4d924adfcbd19d661a18133a0 # v2.35.2
        with:
          php-version: '8.3'
          coverage: none

      - name: "Validate composer.json and composer.lock"
        run: "composer validate --no-check-publish"

      - name: Install dependencies with composer
        run: composer install --prefer-dist

      - name: Run PHPStan
        run: composer lint-phpstan

  phpcs:
    name: phpcs

    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup PHP
        uses: shivammathur/setup-php@ccf2c627fe61b1b4d924adfcbd19d661a18133a0 # v2.35.2
        with:
          php-version: '8.3'
          coverage: none
          tools: cs2pr

      - name: Install dependencies with composer
        run: composer install --prefer-dist

      - name: Run PHPStan
        run: composer lint-phpcs-gh-action
