name: Tests
on:
  pull_request:
    paths:
      - "**.php"
      - ".github/workflows/test.yml"
  push:
    branches: [main]
    paths:
      - "**.php"
      - ".github/workflows/test.yml"

permissions:
  contents: read

jobs:
  test:
    name: PHPUnit
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

    - name: Setup PHP
      uses: shivammathur/setup-php@a4e22b60bbb9c1021113f2860347b0759f66fe5d # v2.30.0
      with:
        php-version: '8.2'
        coverage: none
    
    - name: Setup problem matchers for PHP
      run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

    - name: Setup problem matchers for PHPUnit
      run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

    - name: Install dependencies with composer
      run: composer install --prefer-dist

    - name: Run phpunit
      run: ./vendor/bin/phpunit --coverage-clover=coverage.xml

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@54bcd8715eee62d40e33596ef5e8f0f48dbbccab # v4.1.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
