name: Tests
on:
  pull_request:
    paths:
      - "**.php"
      - ".github/workflows/tests.yml"
  push:
    branches: [main]
    paths:
      - "**.php"
      - ".github/workflows/tests.yml"

permissions:
  contents: read

jobs:
  test:
    name: PHPUnit
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4

    - name: Setup PHP
      uses: shivammathur/setup-php@efffd0e4f2504f936fcfe3b69293d31ce0e2fd7a # v2.30.3
      with:
        php-version: '8.2'
        coverage: xdebug
    
    - name: Setup problem matchers for PHP
      run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

    - name: Setup problem matchers for PHPUnit
      run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

    - name: Install dependencies with composer
      run: composer install --prefer-dist

    - name: Run phpunit
      run: ./backend/vendor/bin/phpunit --coverage-clover=coverage.xml

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@84508663e988701840491b86de86b666e8a86bed # v4.3.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
